.card-board {
  display: flex;
  flex-wrap: wrap;
  background-color: #737373;
}

@media only screen and (min-width: 1200px) and (max-width: 2500px) {
  .card-board {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 2500px) {
  .card-board {
    margin-left: 30%;
    margin-right: 30%;
  }
}

.cards-in-hand {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.card-in-hand {
  box-sizing: border-box;
  padding: .5rem;
}

.card-in-hand:hover {
  filter: drop-shadow(1.5rem 1.5rem 1rem gray);
}

.card {
  width: 10%;
  box-sizing: border-box;
  padding: .25rem .25rem;
}

.wildcard {
  width: 10%;
  box-sizing: border-box;
  padding: .25rem .25rem;
}

.card-holder {
  width: 10%;
  position: relative;
}

.card:hover {
  filter: drop-shadow(1rem 1rem 2rem gray);
}

.card-hand {
  display: flex;
  flex-wrap: wrap;
  background-color: #cccccc;
}

.card-in-hand {
  box-sizing: border-box;
  padding: .25rem .25rem;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  font-weight: bold;
}

.card-background span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-image: url('../imgs/10C.png') no-repeat center center;
}