html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  align-items: center;
  position: fixed;
  justify-content: space-between;
}

#roomCode {
  border: 1px dashed #fff;
  padding: 0.25rem;
  font-size: 0.8rem;
}

#teams {
  padding-right: 2rem;
  text-align: left;
  color: #fff;
  font-size: 0.8rem;
  border: 0.1rem dashed #fff;
  padding: 0.2rem 0.2rem;
  margin-right: 1.5rem;
}

span.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 0.07rem dashed #fff;
  display: inline-block;
}

.card-board {
  background-color: #a6a6a6;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 6rem;
  margin-bottom: 10rem;
  resize: both;
}

@media only screen and (max-width: 700px) {
  .cards-in-hand {
    margin-left: 5%;
    margin-right: 5%;
  }
  .switch {
    margin-left: 5%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .card-board {
    margin-left: 10%;
    margin-right: 10%;
  }
  .cards-in-hand {
    margin-left: 10%;
    margin-right: 10%;
  }
  .switch {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1250px) {
  .card-board {
    margin-left: 15%;
    margin-right: 15%;
  }
  .cards-in-hand {
    margin-left: 15%;
    margin-right: 15%;
  }
  .switch {
    margin-left: 15%;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 2500px) {
  .card-board {
    margin-left: 17%;
    margin-right: 17;
  }
  .cards-in-hand {
    margin-left: 17;
    margin-right: 17;
  }
  .switch {
    margin-left: 17;
  }
}

@media only screen and (min-width: 2500px) {
  .card-board {
    margin-left: 30%;
    margin-right: 30%;
  }
  .cards-in-hand {
    margin-left: 30%;
    margin-right: 30%;
  }
  .switch {
    margin-left: 30%;
  }
}

.cards-in-hand {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-in-hand {
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.5rem;
}

.card-in-hand:hover {
  filter: drop-shadow(1.5rem 1.5rem 1rem gray);
}

.card {
  width: 10%;
  box-sizing: border-box;
  padding: 0.25rem 0.25rem;
  cursor: pointer;
}

.wildcard {
  width: 10%;
  box-sizing: border-box;
  padding: 0.25rem 0.25rem;
}

.card-holder {
  width: 10%;
  position: relative;
}

.card:hover {
  filter: drop-shadow(1rem 1rem 2rem gray);
}

.card-hand {
  display: flex;
  flex-wrap: wrap;
  background-color: #cccccc;
}

.card-in-hand {
  box-sizing: border-box;
  padding: 0.25rem 0.25rem;
}

#turn {
  padding: 5px 5px;
  font-weight: bold;
  border-width: 0.15rem;
  font-size: 0.9rem;
  border-style: solid;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 3rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal img {
  width: 50%;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 1rem;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.modal-content #card {
  text-align: left !important;
}

.modal-content form {
  font-size: 1rem;
}

.modal-content label {
  display: inline-block;
  font-size: 17px;
  margin: 0.5rem 0.5rem;
  text-align: right;
  width: 170px;
}

.modal-content input {
  font-size: 17px;
  padding: 5px;
  margin: 1rem 0.5rem;
  width: 200px;
}

.modal-content select {
  font-size: 1.25rem;
  padding: 5px;
  width: 215px;
}

.modal-content button {
  background-color: #2d8186;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0.5rem 0.5rem 1rem;
  padding: 13px 17px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.modal-content button:hover {
  background-color: #205e61;
}

.winner-modal {
  display: flex;
  justify-content: center;
}

.winner-modal img {
  margin: 1rem 1rem;
  width: 75%;
}

.switch {
  margin-top: 0.5rem;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12.5px;
  margin-bottom: 2px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9.5px;
  width: 9.5px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12.5px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

/* The Close Button */
.close {
  margin-right: 0.4rem;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modals */
.modal-header {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.modal-back {
  color: #666666;
  cursor: pointer;
  float: left;
  padding: 10px 0 0 10px;
}
.modal-back:hover {
  color: #262626;
}
