html, body {
  width: 100%;
  height: 100%;
  margin:0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  position: fixed;
  justify-content: space-between;
}

#teams {
  padding-right: 2rem;
  text-align: left;
}

.card-board {
  margin-top: 6rem;
  margin-bottom: 20rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #737373;
}

@media only screen and (min-width: 1200px) and (max-width: 2500px) {
  .card-board {
    margin-left: 15%;
    margin-right: 15%;
  }
  .cards-in-hand {
    margin-left: 15%;
    margin-right: 15%;
  }
  .switch {
    margin-left: 15%;
  }
}

@media only screen and (min-width: 2500px) {
  .card-board {
    margin-left: 30%;
    margin-right: 30%;
  }
  .cards-in-hand {
    margin-left: 30%;
    margin-right: 30%;
  }
  .switch {
    margin-left: 30%;
  }
}

.cards-in-hand {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-in-hand {
  box-sizing: border-box;
  padding: .5rem;
}

.card-in-hand:hover {
  filter: drop-shadow(1.5rem 1.5rem 1rem gray);
}

.card {
  width: 10%;
  box-sizing: border-box;
  padding: .25rem .25rem;
}

.wildcard {
  width: 10%;
  box-sizing: border-box;
  padding: .25rem .25rem;
}

.card-holder {
  width: 10%;
  position: relative;
}

.card:hover {
  filter: drop-shadow(1rem 1rem 2rem gray);
}

.card-hand {
  display: flex;
  flex-wrap: wrap;
  background-color: #cccccc;
}

.card-in-hand {
  box-sizing: border-box;
  padding: .25rem .25rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding-top: 10rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal img {
  width: 75%;
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  font-weight: bold;
  border: 1px solid #888;
  border-radius: 1rem; 
  width: 66%;
}

.modal-content #card {
    text-align: left !important;
}

.modal-content form {
    font-size: 1.5rem;
}

.modal-content label {
    margin: 1rem 1rem;
    font-size: 1.25rem;
}

.modal-content input {
    font-size: 1.25rem;
    margin: .75rem .75rem;
}

.modal-content select {
  width: 200px;
  font-size: 1.25rem;
}

.modal-content button {
    font-weight: bold;
    letter-spacing: .05rem;
    background-color: #bbdddd;
    border-radius: .4rem;
    margin: .75rem .75rem 1.2rem;
    padding: 1rem 1.3rem;
    cursor: pointer;
    font-size: .8rem;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.modal-content button:hover {
    background-color: #99cccc;
}

.winner-modal {
  display: flex;
  justify-content: center;
}

.winner-modal img {
  margin: 1rem 1rem;
  width: 75%;
}

.switch {
  margin-top: 1rem; 
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-bottom: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

/* The Close Button */
.close {
  margin-right: .4rem;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}